/* application color palette
    refer to these colors throughout the application.
*/
  $primary:"#ad343e";
  $secondary:"#f2af29";
  $dark:"#777";
  $light:"#000";
  $selectedLink: 'yellow';
  $blue: blue;
  $green: green;
  $red: red;