html,
body {
  box-sizing: border-box;
  width: 100%;
}
#root {
  // top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  background: lightgoldenrodyellow !important;
  #header {
    top:0 !important;
    width:100% !important;
    text-decoration: none;
  }
}
#app{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: -apple-system, sans-serif;
    color: #111;
    background-color: #eee;


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
}
#categories{
  border: 1px solid rgb(172, 197, 172);
  // background: rgb(175, 202, 192);

  background: lightgoldenrodyellow !important;
  color: rgb(133, 90, 11);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.links{
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  color: rgb(245, 247, 241);
  .link{
      color: rgb(245, 247, 241);
      font-weight: 500;
      text-decoration: none;
      text-transform: uppercase;
      padding: 5px 15px;

      &:hover{
          opacity: 0.75;
      }
  }
}

.link.active{
  color: rgb(8, 179, 85);
  text-decoration: underline;
}
Nav, NavLink, Navbar {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
Nav{
  border: 1px solid white !important;
}
NavLink{
  border: 1px solid red !important;
}
Navbar{
  border: 1px solid blue !important;
}
Navbar {
  padding: 0 0 !important;
}
Nav{
  margin-bottom: 0 !important;
}

#posts {
  // have 2-3 cards per row
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-start;
}
.post, .card {
  margin: 10px;
}
.bulletList {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
}
.sideBySidePanels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
}
#singlePanel, .profilePage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: lightgoldenrodyellow !important;
}
